<div class="page-header">
  <h1>Add Purchase</h1>
</div>

<% if @purchase.errors.any? %>
  <% @purchase.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_purchase" class="form-horizontal">
  <!-- Label and input for item_id -->
  <div class="form-group">
    <label for="item_id" class="col-sm-2 control-label">
      Item
    </label>
    <div class="col-sm-10">
      <select name="item_id" class="form-control">
        <% FoodItem.all.each do |item| %>
            <option value="<%= item.id %>">
                <%= item.item_name %>
            </option>
        <% end %>
      </select>
    </div>
  </div>

  <!-- Label and input for quantity -->
  <div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">
      Quantity
    </label>
    <div class="col-sm-10">
      <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @purchase.quantity %>">
    </div>
  </div>

  <!-- Label and input for cost -->
  <div class="form-group">
    <label for="cost" class="col-sm-2 control-label">
      Cost
    </label>
    <div class="col-sm-10">
      <input type="text" id="cost" name="cost" placeholder="Cost" class="form-control" value="<%= @purchase.cost %>">
    </div>
  </div>

  <!-- Label and input for source -->
  <div class="form-group">
    <label for="source" class="col-sm-2 control-label">
      Source
    </label>
    <div class="col-sm-10">
      <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @purchase.source %>">
    </div>
  </div>

  <!-- Label and input for expiration_date -->
  <div class="form-group">
    <label for="expiration_date" class="col-sm-2 control-label">
      Expiration date
    </label>
    <div class="col-sm-10">
      <input type="text" id="expiration_date" name="expiration_date" placeholder="Date has To Be In 00mm-dd-yy Format" class="form-control" value="<%= @purchase.expiration_date %>">
    </div>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Purchase" class="btn btn-primary">
    </div>
  </div>
</form>
