<div class="page-header">
  <h1>Purchase #<%= @purchase.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item</dt>
  <dd><%= @purchase.item_id %></dd>

  <dt>Quantity</dt>
  <dd><%= @purchase.quantity %></dd>

  <dt>Cost</dt>
  <dd><%= @purchase.cost %></dd>

  <dt>Source</dt>
  <dd><%= @purchase.source %></dd>

  <dt>Expiration date</dt>
  <dd><%= @purchase.expiration_date %></dd>

</dl>
