<div class="page-header">
  <h1>Food items</h1>
</div>

<p><a href="/food_items/new" class="btn btn-primary">Add a New Food Item</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Uofm</th>
      <th>Category</th>
      <th>Avg exp days</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
        <td><%= food_item.item_name %></td>
        <td><%= food_item.uofm_id %></td>
        <td><%= food_item.category_id %></td>
        <td><%= food_item.avg_exp_days %></td>
        <td>
          <a href="/food_items/<%= food_item.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/food_items/<%= food_item.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_food_item/<%= food_item.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



