<div class="page-header">
  <h1>Food Item #<%= @food_item.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item name</dt>
  <dd><%= @food_item.item_name %></dd>

  <dt>Uofm</dt>
  <dd><%= @food_item.uofm_id %></dd>

  <dt>Category</dt>
  <dd><%= @food_item.category_id %></dd>

  <dt>Avg exp days</dt>
  <dd><%= @food_item.avg_exp_days %></dd>
</dl>

<div>
  <h4>History of Purchases</h4>
</div>

