<div class="page-header">
  <h1>Add Consumption</h1>
</div>

<% if @consumption.errors.any? %>
  <% @consumption.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_consumption" class="form-horizontal">
  <!-- Label and input for item_id -->
  <div class="form-group">
    <label for="item_id" class="col-sm-2 control-label">
      Item
    </label>
    <div class="col-sm-10">
      <select name="item_id" class="form-control">
        <% Purchase.all.each do |item| %>
            <option value="<%= item.id %>">
                <%= item.item_id %>
            </option>
        <% end %>
      </select>
    </div>
  </div>

  <!-- Label and input for quantity -->
  <div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">
      Quantity
    </label>
    <div class="col-sm-10">
      <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @consumption.quantity %>">
    </div>
  </div>

  <!-- Label and input for waste -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="waste">
          <input type="checkbox" id="waste" name="waste" value="1" <%= "checked" if @consumption.waste %>>
          Waste
        </label>
      </div>
    </div>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Consumption" class="btn btn-primary">
    </div>
  </div>
</form>
